<aside class="ls-sidebar">

  <div class="ls-sidebar-inner">
    <a href="/locawebstyle/documentacao/exemplos//pre-painel"  class="ls-go-prev"><span class="ls-text">Voltar à lista de serviços</span></a>

    <nav class="ls-menu">
      <ul>
        <li> <%= link_to 'Clientes', customers_path, html_options = {class: 'ls-ico-users' } %></li>
        <li> <%= link_to 'Vendas', orders_path, html_options = { class: 'ls-ico-cart'} %> </li>
    </ul>
  </nav>


</div>
</aside>
