<div class="ls-topbar ">
  <% if seller_signed_in?  %>
    <div class="ls-notification-topbar">
      <div data-ls-module="dropdown" class="ls-dropdown ls-user-account">
        <a href="#" class="ls-ico-user">
          <!-- <img src="/locawebstyle/assets/images/locastyle/avatar-example.jpg" alt="" /> -->
          <span class="ls-name"> <%= current_seller.name %></span>
        </a>
        <nav class="ls-dropdown-nav ls-user-menu" aria-hidden="false">
          <ul>
            <span><%= link_to 'Sair', destroy_seller_session_path, method: :delete %></span>
          </ul>
        </nav>
      </div>
    </div>
  <% end %>

  <h1 class="ls-brand-name">
    <%= link_to(root_path, html_options = {class:"ls-ico-earth"} ) do %>
      <small>Locaweb</small>
      <label>Vendas</label>
    <% end %>
  </h1>
</div>
