<h1 class="ls-title-intro ls-ico-home">Página inicial</h1>
<%= form_tag(search_customers_path, method: "get") do %>
  <%= label_tag(:search, "Busca") %>
  <%= text_field_tag(:search) %>
  <%= submit_tag("Pesquisar cliente", class: 'ls-btn-primary ls-btn-sm') %>
<% end %>
