<h1>Pedido realizado</h1>
<p>Categoria: <%= session[:category_name] %></p>
<p>Produto: <%= session[:product_name] %></p>
<p>Plano: <%= session[:plan_name] %></p>
<p>Periodicidade: <%= session[:price_name] %></p>
